//- ＜＜お客様情報設定＞＞

//- =================================================================================================
    会社情報
  ===================================================================================================
-
  var customerName     = '株式会社トップ'                   //- お客様名
  var companyTel       = '052-583-1919'                    //- 代表番号
  var companyFax       = ''                                //- FAX番号
  var companyZip       = '450-0002'                        //- 郵便番号
  var companyAddress   = '愛知県名古屋市中村区名駅5-17-3'    //- 住所


//- =================================================================================================
    お問い合わせメールアドレス
  ===================================================================================================

- var infoMailAddress   = 'test@test.co.jp' //- 管理者向けメールの送信先
- var senderMailAddress = infoMailAddress //- 送信元メールアドレス


//- =================================================================================================
    サイト情報
  ===================================================================================================
-
  var httpHead     = 'http://oa-top.co.jp'                             //-「http://~」or「https://」からドメインまで（※末尾に「/」は含めない）
  var siteName     = customerName                                      //- サイトの名前
  var trackingId   = ''                                                 //- Google Analytics トラッキング ID
  var trackingId2   = ''                                                 //- Google Analytics トラッキング ID(UA)


