//- ＜＜読込みファイル＞＞

//- =================================================================================================
    css
  ===================================================================================================

//- link( rel="stylesheet" href="" )
//- link(href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet")

//- =================================================================================================
    script
  ===================================================================================================

script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" )
script( src="https://kit.fontawesome.com/d3cfa633af.js" crossorigin="anonymous" )
script( src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js" defer)
script( src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js" defer)
script( src="./js/page_loading.js" defer)
script( src="./js/scroll_effect.js" defer)
script( src="./js/modal_image.js" defer)