//- =================================================================================================
    css
  ===================================================================================================
//- google font
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
//- 日本語フォント
link(href="" rel="stylesheet")
//- 英語フォント
link(href="" rel="stylesheet")

//- slick
link(rel="stylesheet" href="css/slick.css")

//- =================================================================================================
    script
  ===================================================================================================
//- slick
script( src="./js/slick.min.js" defer)




//- =================================================================================================
    動作用
  ===================================================================================================
script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" )
script( src="https://kit.fontawesome.com/d3cfa633af.js" crossorigin="anonymous" )
script( src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js" defer)
script( src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js" defer)
script( src="./js/slick.min.js" defer)
script( src="./js/page_loading.js" defer)
script( src="./js/scroll_effect.js" defer)
script( src="./js/modal_image.js" defer)