extends master/_body.pug

//- =================================================================================================
    variable（このページで使う変数を設定）
  ===================================================================================================
block variable
  -
    var pageNumber = 0 //- ページナンバー（※ inc/_variable.pug 参照）

//- =================================================================================================
    include（このページのみに読み込ませたい外部ファイルを記述）
  ===================================================================================================
block include


//- =================================================================================================
    readfiles（このページのみで使用したい css, script を記述）
  ===================================================================================================
block readfiles


//- =================================================================================================
    header（このページのみで使用したい header を記述）
  ===================================================================================================
block header
  include template/_header


//- =================================================================================================
    footer（このページのみで使用したい footer を記述）
  ===================================================================================================
block footer
  include template/_footer


//- =================================================================================================
    content（コンテンツを設定　※<div class="main"></div> の内側へ挿入されます。）
  ===================================================================================================
block content
